/*
 * Top bar panel
 */
.phosh-panel {
  font: 15px Cantarell;
}

.phosh-panel-btn {
  background-image: none;
  border-width: 0;
}

.phosh-topbar-clock {
  font-weight: bold;
}

.phosh-power-button {
  padding-top: 0;
  padding-bottom: 0;
}

/*
 * Home bar
 */
.phosh-osk-button {
  border-radius: 50%;
  min-width: 0;
  min-height: 0;
  padding: 6px;
}

/*
 * Settings menu
 */
.phosh-settings-menu {
  background-color: black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.phosh-settings-listboxrow {
  padding: 0;
}

.phosh-settings-row {
  box-shadow: none;
  background-color: black;
}

.phosh-settings-menu button.circular:not(:hover):not(:active) {
    border: 2px solid @theme_bg_color;
}

.phosh-notification-tray, .phosh-notification-tray list {
  border-radius: 6px;
  background-color: #282828;
}

.phosh-quick-setting {
  font-size: 9px;
  padding: 9px;
  border: 0;
  box-shadow: 0 0;
}

.phosh-quick-setting:not(:hover):not(:active) {
  background: none;
}

/*
 * Overview (app grid with favories and, activities)
 */
phosh-activity > widget > button {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

phosh-activity box button {
  background: white;
  border: none;
  border-radius: 0;
  /* box-shadow: 0 2px 2px rgba(0,0,0,0.4), 0 3px 16px rgba(0,0,0,0.3); */
}

.phosh-activity-empty {
  background: url('resource:///sm/puri/phosh/fake-app.svg');
  background-size: cover;
}

phosh-activity box {
  background: rgba(0, 0, 0, 0.7);
  padding: 6px;
  color: white;
  font-weight: bold;
}

phosh-activity:focus box {
  background: rgba(38, 35, 83, 0.7);
}

phosh-home, .phosh-panel {
  background: black;
  color: white;
}

.phosh-activity-close-button {
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
  padding: 0;
}

.phosh-overview {
  background: black;
}

.phosh-favorite {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.phosh-favorite:hover {
  -gtk-icon-effect: none;
}

.phosh-favorite:active {
  -gtk-icon-effect: highlight;
}

.phosh-search-bar {
  border-radius: 9999px;
  padding: 3px 18px 3px 14px;
  margin: 0 10px 6px;
}

phosh-app-grid {
  background: black;
}

phosh-app-grid separator {
  background: rgba(51, 51, 51, 1);
  min-height: 2px
}

phosh-app-grid-button {
  font-size: 0.8rem;
}

phosh-app-grid-button button, phosh-app-grid-button button:hover {
  background: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
}

phosh-app-grid-button button:hover,
phosh-app-grid-button button:focus,
.search-active phosh-app-grid-button:first-child button {
  background: rgba(46, 45, 45, 0.6);
  border-radius: 5px;
}

phosh-app-grid-button button:focus {
  border-color: @theme_selected_bg_color;
}

phosh-app-grid-button image {
  /* -gtk-icon-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 1px 8px rgba(0,0,0,0.2); */
}

/*
 * Lock screen
 */
phosh-lockscreen, .phosh-lockshield {
  background-color: black;
}

.phosh-lockscreen-clock {
  font-size: 72px;
  font-weight: 100;
}

.phosh-lockscreen-arrow {
  transition: 400ms linear;
  animation: pulsate 1.8s ease-out;
  animation-iteration-count: 15;
}

.phosh-lockscreen-pin {
  font-size: 20px;
}

@keyframes pulsate {
  0% {-gtk-icon-transform: translateY(0); opacity: 0.7}
  35% {-gtk-icon-transform: translateY(-14px); opacity: 1}
  100% {-gtk-icon-transform: translateY(0); opacity: 0.7}
}

/* Lockscreen keypad */
keypad > grid > button {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  border: 0;
  box-shadow: none;
  background: 0;
  border: 0;
}

keypad > grid > button:active {
  background: rgba(255, 255, 255, 0.3);
}

.text-only-button:active {
  background: rgba(255, 255, 255, 0.5);
}

keypad > grid > button:focus, .text-only-button:focus {
  outline-style: none;
}

.text-only-button {
  font-size: 16px;
  font-weight: bold;
  padding: 16px 36px;
  border: 0;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
}

phosh-lockscreen phosh-media-player {
  background: none;
  border: solid 1px;
  border-color: rgb(51,51,51);
  border-radius: 0;
}

phosh-lockscreen phosh-media-player button {
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

phosh-lockscreen phosh-media-player button:not(:hover):not(:active) {
  background: none;
}

/*
 * System modal dialogs (polkit, gcr)
 */
.phosh-system-modal {
  background-color: alpha(@theme_bg_color, 0.7);
}

.phosh-system-modal-dialog {
  background-color: black;
  border: solid 2px;
  border-color: white;
  border-radius: 10px;
  padding: 18px;
}

/*
 * Notifications
 */
phosh-notification-content {
  background: transparent;
}

phosh-notification-content .message-area {
  padding: 12px;
}

phosh-notification-content .message-area image {
  border-radius: 50%;
}

phosh-notification-content .actions-area button {
  border-radius: 0;
  box-shadow: none;
  border-left: none;
  border-right: none;
}

phosh-notification-content:last-child .actions-area button:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: none;
}

phosh-notification-frame {
  border-radius: 6px;
  background-color: #282828;
  margin: 12px;
}

phosh-notification-banner > phosh-notification-frame {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33),
              0px 5px 6px 0px rgba(0, 0, 0, 0.07),
              0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

phosh-notification-frame list {
  background: transparent;
}

phosh-notification-frame .header-area {
  padding: 12px 12px 0 12px;
}

phosh-notification-frame .header-area image {
  -gtk-icon-style: symbolic;
}

phosh-notification-banner {
  border: none;
  background: transparent;
  padding: 12px;
}

/*
 * Output fader
 */
@keyframes phosh-fade-in {
  from {background:rgba(0, 0, 0, 0);}
  to {background:rgba(0, 0, 0, 1);}
}

.phosh-fader-fade-in {
  animation-name: phosh-fade-in;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*
 * Media player
 */
phosh-media-player {
  background: rgb(51,51,51);
  border-radius: 5%;
  padding: 9px;
  border: 0;
  box-shadow: 0 0;
}

phosh-media-player > button {
  border-radius: 0;
  box-shadow: none;
  outline-style: none;
}

/* The details button should not look inactive even when disabled */
phosh-media-player box *:disabled {
  color: white;
  -gtk-icon-effect: none;
}

/*
 * OSD
 */
phosh-osd-window levelbar block {
    min-height: 16px;
    box-shadow: none;
    border-color: white;
    border-radius: 5px;
}

phosh-osd-window levelbar block.low {
  background-color: white;
}

phosh-osd-window levelbar block.high {
  background-color: white;
}

phosh-osd-window levelbar block.full {
  background-color: white;
}

phosh-osd-window levelbar trough {
    box-shadow: none;
    border-width: 0px;
}
